.conteiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--cinza-claro);
    border-radius: 10px;
}

.campo {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

.botao {
    background-color: var(--roxo-escuro);
    padding: 8px;
    color: var(--cinza-claro);
    border-radius: 8px;
}

.mensagem {
    margin-top: -8px;
    margin-bottom: 1rem;
    color: red;
    font-size: .9rem;
    font-weight: 600;
}

.titulo {
    color: var(--roxo-escuro);
    font-size: 2rem;
    margin-bottom: 25px;
}